mixin btn-to-top()
   -
      const data = {
         text: "top",
         icon: "",
      }
   button.btn.btn-to-top(type="button")
      if data.icon
         +icon(data.icon, 40, 40).btn-to-top__icon
      if data.text
         span.btn-to-top__span=data.text