mixin cv-contacts ()
	-
		const data = {
			title: "Contact me",
			items: [
				{
					href: "mailto:orblack2@gmail.com",
					icon: "icon-js",
					linkClass: "cv-skills__link--js",
					iconClass: "cv-skills__icon--js",
				},
			],
			email: "orblack2@gmail.com",
			tel: "+7(904)612-15-80",
			tg: "@kovaldos",
			dscrd: "@kovaldos",
			linkedIn: "https://www.linkedin.com/in/%D1%8F%D1%80%D0%BE%D1%81%D0%BB%D0%B0%D0%B2-%D0%BA%D0%BE%D0%B2%D0%B0%D0%BB%D0%B5%D0%B2-101b42165",
		}

	section.cv-contacts#contacts 
		.container.cv-contacts__container 
			h2.cv-contacts__title.title.title--h2=data.title
			.cv-contacts__wrapper.main__wrapper 
				a.cv-contacts__link.cv-contacts__link--gmail.link(href="mailto:orblack2@gmail.com")
					svg.cv-contacts__icon.cv-contacts__icon--gmail(xmlns="http://www.w3.org/2000/svg" viewBox="52 42 88 66")
						path.st.st--0(d="M58 108h14V74L52 59v43c0 3.32 2.69 6 6 6" fill="currentColor")
						path.st.st--1(d="M120 108h14c3.32 0 6-2.69 6-6V59l-20 15" fill="currentColor")
						path.st.st--2(d="M120 48v26l20-15v-8c0-7.42-8.47-11.65-14.4-7.2" fill="currentColor")
						path.st.st--3(d="M72 74V48l24 18 24-18v26L96 92" fill="currentColor")
						path.st.st--4(d="M52 51v8l20 15V48l-5.6-4.2c-5.94-4.45-14.4-.22-14.4 7.2" fill="currentColor")
					//- +icon("icon-gmail", 100, 100).cv-contacts__icon.cv-contacts__icon--gmail
				a.cv-contacts__link.cv-contacts__link--phone.link(href="tel:+79046121580")
					+icon("icon-iphone", 100, 100).cv-contacts__icon.cv-contacts__icon--phone
				a.cv-contacts__link.cv-contacts__link--linkedin.link(href="https://www.linkedin.com/in/%D1%8F%D1%80%D0%BE%D1%81%D0%BB%D0%B0%D0%B2-%D0%BA%D0%BE%D0%B2%D0%B0%D0%BB%D0%B5%D0%B2-101b42165" target="_blank" rel="noopener noreferrer nofollow")
					+icon("icon-linkedin", 100, 100).cv-contacts__icon.cv-contacts__icon--linkedin
				a.cv-contacts__link.cv-contacts__link--discord.link(href="https://discord.com/users/kovaldos#1827" target="_blank" rel="noopener noreferrer nofollow")
					+icon("icon-discord", 100, 100).cv-contacts__icon.cv-contacts__icon--discord
				a.cv-contacts__link.cv-contacts__link--tg.link(href="tg://resolve?domain=kovaldos/" target="_blank" rel="noopener noreferrer nofollow")
					+icon("icon-tg", 100, 100).cv-contacts__icon.cv-contacts__icon--tg
				a.cv-contacts__link.cv-contacts__link--insta.link(href="https://www.instagram.com/orblack2/" target="_blank" rel="noopener noreferrer nofollow")
					+icon("icon-insta", 100, 100).cv-contacts__icon.cv-contacts__icon--insta
				a.cv-contacts__link.cv-contacts__link--fb.link(href="https://www.facebook.com/orblack2" target="_blank" rel="noopener noreferrer nofollow")
					+icon("icon-fb", 100, 100).cv-contacts__icon.cv-contacts__icon--fb
				a.cv-contacts__link.cv-contacts__link--vk.link(href="https://vk.com/id11996187" target="_blank" rel="noopener noreferrer nofollow")
					+icon("icon-vk", 100, 100).cv-contacts__icon.cv-contacts__icon--vk