mixin cv-english ()
	-
		const data = {
			title: "english",
			text: "A2 Elementary",
		}

	section.cv-english#english 
		.container.cv-english__container 
			h2.cv-english__title.title.title--h2=data.title
			.cv-english__wrapper.main__wrapper 
				p.cv-english__text.text.text--md=data.text