mixin cv-english ()
	-
		const data = {
			title: "english",
			text: "JavaScript (ES5, ES6), jQuery, Bootstrap, React.js(basic), Vue.js(basic), PUG, SASS/SCSS, HTML5, CSS3",
		}

	section.cv-english#english 
		.container.cv-english__container 
			h2.cv-english__title.title.title--h2=data.title
			.cv-english__wrapper.main__wrapper 
				p.cv-english__text.text=data.text