mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "#contacts",
        text: "Contacts",
        anchorLink: "contacts",
      },
      {
        href: "#summary",
        text: "Summary",
        anchorLink: "summary",
      },
      {
        href: "#skills",
        text: "Skills",
        anchorLink: "skills",
      },
      {
        href: "#projects",
        text: "My projects",
        anchorLink: "projects",
      },
      {
        href: "#experience",
        text: "Experience",
        anchorLink: "experience",
      },
      {
        href: "#education",
        text: "Education",
        anchorLink: "education",
      },
      {
        href: "#english",
        text: "English",
        anchorLink: "english",
      },
    ]

  header.header(class=headerMods)
    .container
      if(currentUrl === "index.html")
        //- lighthouse снимает 10 баллов SEO за <a> без href
        span.header__logo
          img(src="./img/svg/logo.svg" alt="RS School logo")
      else
        a.header__logo(href="index.html" aria-label="Переход на главную")
          img(src="./img/svg/logo.svg" alt="RS School logo")
      nav.main-nav
        button.main-nav__toggle.btn-reset(type="button" aria-label="Переключатель отображения меню" aria-pressed="false")
          +icon("icon-burger", 20, 20)
        .main-nav__wrapper
          ul.main-nav__list
            each link in headerLinks
              - const activeState = currentUrl === link.href
              li.main-nav__item
                if(activeState)
                  span.main-nav__link.link.is-active=link.text
                else
                  a.main-nav__link.link(href=link.href data-target=link.anchorLink)=link.text
