.cv-projects {
	&__wrapper {
		gap: 2rem;
		@include vp-1023 {
			flex-direction: column;
		}
		&-col {
			background-color: $color-alice-blue;
			padding: 1rem;
			border-radius: 10px;
			@include vp-1023 {
				flex: auto;
			}
			&--01 {
				margin: 0 auto 0 0;
				@include vp-1023 {
					margin: 0;
				}
			}
		}
	}
	&__subtitle {
		color: $color-default-black;
		margin: 0 0 1rem;
	}
	&__list {
		margin: 0;
		padding: 0 0 0 1rem;
	}
	&__link {
		font-size: 1.3rem;
	}
	&__pre {
		background-color: $color-default-black;
		color: $color-default-white;
		padding: 1rem;
		@include vp-1023 {
			overflow-x: auto;
		}
	}
}
