.footer {
  padding: 40px 0;
  background-color: $color-neon-blue;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  &__logo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    background-color: $color-transparent;
    transition: background-color $trans-default;
    border-radius: 5px;
    padding: 5px;
    &:focus {
      outline: none;
    }
    &:hover,
    &:focus-visible {
      background-color: $color-default-white;
    }
  }
  &__copy {
    font-size: 1.5rem;
  }
  &__link {
    font-size: 1.2rem;
  }
}
