.header {
  padding: 20px 0;
  background-color: $color-neon-blue;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    color: $color-default-white;
    width: 150px;
    height: 100%;
    background-color: $color-default-white;
    border-radius: 10px;
    padding: 5px;
  }
}
