.link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  color: $color-default-black;
  transition: all $trans-default;
  outline: none;
  position: relative;
  padding: 5px;
  &::after {
    position: absolute;
    bottom: 8px;
    content: "";
    width: 0;
    height: 1px;
    background-color: $color-transparent;
    transition: all $trans-default;
  }
  &:hover,
  &:focus-visible {
    text-decoration: none;
    color: $color-default-white;
    &::after {
      background-color: $color-default-white;
      width: calc(100% - 2 * 5px);
    }
  }
  // &--bg {
  //   background-color: $color-default-white;
  //   border-radius: 7px;
  //   &:hover,
  //   &:focus-visible {
  //     background-color: $color-default-black;
  //     color: $color-default-white;
  //   }
  // }
}
