.main-nav {
  &__list {
    flex: auto;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-right: 20px;
  }

  &__link {
    color: $color-default-white;
    font-size: 16px;
    text-transform: uppercase;
    white-space: nowrap;
    &.is-active {
      opacity: 0.6;
    }
  }

  &__toggle {
    display: none;
  }
}
